In [1]:
import pandas as pd
import numpy as np

In [2]:
ml = pd.read_csv('restaurants.csv')

In [3]:
ml.head(10)

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0
5,37650,27579,Архангельск,Суши,3.0,0.0,0.0
6,37127,27250,Астрахань,Суши,55.0,5.0,6.0
7,28476,20266,Астрахань,Суши,342.0,13.0,14.0
8,28478,20266,Астрахань,Суши,194.0,1.0,7.0
9,34127,25077,Астрахань,Пицца,136.0,4.0,1.0

In [4]:
print(ml.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 7 columns):
vendor_id            784 non-null int64
chain_id             784 non-null int64
city_name            784 non-null object
specialisation       784 non-null object
successful_orders    784 non-null float64
fail_orders          784 non-null float64
reorders             784 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 43.0+ KB
None

In [8]:
unique_counts = pd.DataFrame.from_records([(col, ml[col].nunique()) for col in ml.columns],
                          columns=['city_nmae', 'Num_Unique']).sort_values(by=['Num_Unique'])
unique_counts

           city_nmae  Num_Unique
3     specialisation          27
5        fail_orders          29
6           reorders          30
2          city_name          63
4  successful_orders         284
1           chain_id         693
0          vendor_id         784

In [13]:
ml[ml['specialisation'] == 'Рыба'].shape

(30, 7)

In [15]:
ml['successful_orders'].mean()

115.34438775510205

In [16]:
ml.city_name.value_counts()

Томск             14
Тюмень            14
Кострома          14
Кемерово          14
Краснодар         14
                  ..
Вологда            3
Егорьевск          3
Йошкар-Ола         3
Стерлитамак        3
Ханты-Мансийск     2
Name: city_name, Length: 63, dtype: int64

In [18]:
ml[ml['fail_orders'] > 20].shape

(10, 7)

In [25]:
ml[(ml['specialisation'] == 'Выпечка')]['successful_orders'].mean()

12.8

In [54]:
ml['part'] = ml['fail_orders'] / (ml['fail_orders'] + ml['reorders'] + ml['successful_orders'])
ml.groupby(by = "specialisation").part.agg(np.mean).sort_values()

specialisation
Фастфуд                0.000000
Русская                0.011470
Гирос                  0.012968
Паста и ризотто        0.016119
Итальянская            0.016667
Сэндвичи               0.020930
Мясо                   0.021826
Рыба                   0.021986
Японская               0.025020
Мексиканская           0.029412
Пицца                  0.039539
Суши                   0.039774
Бургеры                0.043811
Китайская              0.048652
Шашлыки                0.049043
Узбекская              0.055556
Грузинская             0.071053
Шаурма                 0.074232
Пироги                 0.079127
Выпечка                0.086571
Корейская              0.100000
Супы                   0.133954
Хот-доги               0.136364
Паназиатская           0.137821
Десерты                0.222222
Вегетарианское меню    0.304348
Индийская              0.600000
Name: part, dtype: float64

In [39]:
ml[ml['specialisation'] == 'Бургеры']['successful_orders'].max()

506.0

In [36]:
ml[(ml['specialisation'] == 'Суши') & (ml['city_name'] == 'Белгород')]['successful_orders'].mean().round()

328.0

In [44]:
cl = pd.read_csv('restaurant_scores.csv')
cl

          id  model_score
0          1     0.622864
1          2     0.331360
2          3     0.450092
3          4     0.240392
4          5     0.297691
...      ...          ...
37717  37951     0.754494
37718  37952     0.662785
37719  37953     0.509935
37720  37954     0.417669
37721  37955     0.031183

[37722 rows x 2 columns]

In [50]:
ml = pd.merge(ml, cl, left_on = 'vendor_id', right_on = 'id', how = 'left')
ml[ml['chain_id'] == 27399]['model_score'].mean().round(2)

0.61